/*@media only screen and (min-device-width: 720px) and (max-device-width: 1020px) and (-webkit-device-pixel-ratio: 2) {*/

.item {
    padding: 0px;
    font-size: 20px;
    height: 62px;
}
.welcome-big-text {
    font-size: 36px;
    font-weight: normal;
    color: wheat;
    margin-top: 35px;
    margin-bottom: 35px;
}
.welcome-small-text {
    font-size: 30px;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 35px;
    color: wheat;
}
.wellcomelogoimg {
    height: 394px;
}
.abotusimg {
    height: 294px;
}
.aboutus-region {
    margin-top: 40px;
    background-image: url(../img/aboutbg.png);
    background-size: 100%;
    height: 770px;
}
.aboutus-text p {
    padding: 30px;
    font-size: 30px;
    text-align: justify;
    line-height: 1.2em;
    font-family: gillsans;
}
.aboutus-text ul {
    list-style-type: square;
    padding: 30px;
    margin-top: 20px;
}
.aboutus-text li {
    font-size: 22px;
    text-align: left;
    line-height: 1.2em;
    font-family: gillsans;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}
.aboutus-text span {
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-align: center;
}
.disclaimer-text p {
    padding: 15px;
    font-size: 16px;
    text-align: justify;
    line-height: 1.2em;
    font-family: gillsans;
}
.disclaimer-text span {
    margin-top: 2px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-align: left;
}
.stockimg {
    /*        width: 730px;*/
    width: 100%;
    height: 434px;
    margin-left: -10px;
}
.item-cap {
    font-size: 30px;
    padding: 10px 5px;
    font-weight: bold;
}
.item-rate {
    font-size: 30px;
    font-weight: bold;
}
.numbertext {
    font-size: 30px
    font-weight: bold;
}
.price-region {
    padding: 50px;
}
.price-header-row {
    height: 40px;
    font-size: 26px;
    font-weight: bold;    
    }
.bar-header {
    height: 200px;
}
.bar-footer {
    height: 120px;
}
.has-header {
    top: 200px;
}
.button-class {
    /* W3C */
    color: #000000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.button {
    min-width: 90px;
    min-height: 45px;
    line-height: normal;
}
.button-text {
    font-size: 24px;
    font-weight: Bolder;
    color: #000000;
    height: 100%;
    width: 100%;
    display: table;
}
.button-text p {
    padding-top: 5px;
    display: table-cell;
    vertical-align: middle;
    line-height:33px;
}
.title-image {
    margin-top: -5px;
    height: 180px;
    width: 234px;
    margin-left: 10px;
}
.title-lbl {
    color: wheat;
    text-align: right;
    font-weight: bold;
    margin-right: 2px;
    font-size: 26px;
}
.title-bidasklbl {
    color: wheat;
    text-align: right;
    font-weight: bold;
    margin-right: 2px;
    margin-top: 40px;
    font-size: 36px;
}
.title-bidaskrate {
    color: wheat;
    text-align: center;
    font-weight: bold;
    margin-right: 2px;
    margin-top: 40px;
    font-size: 36px;
}
.callus {
    height: 56px;
    width: 56px;
    margin-top: 5px;
}
/*}*/